html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, tbody, tfoot, thead, tr, th {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

section {
    width: 80%;
    padding: 10px;
    margin: auto;
}

hr{
    border-color: #006d7f;
    display: block;
}

table {

}

.p1bold{
    font-weight:bold;
}

a{
    color: #006d7f;
    text-decoration:underline;
}

.logout {
    width: 100%;
    text-align: left;
}

.href{
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: center;

}

.href1{
    display: inline;
    text-align: center;
    width: 200px;
    height: 20px;
    padding:20px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #006d7f;
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #006d7f;
    color: #333;
    background-color: #00e3fc;
}

.tg .tg-4eph {
    background-color: #f9f9f9
}

